extends layout
block content
    .container
        .valign-wrapper
            #map-container
                img#base-map(src='/images/basemap.jpg' alt='Map')
                img.overlay#rent-map.hide(src='/images/rent.png' alt='Rent')
