extends layout
block content
    .container
        .row
            .col.s12
                ul.tabs
                    li.tab.col.s2: a(href='#base-map') Basemap
                    li.tab.col.s2: a(href='#rent-map') Rent
                    li.tab.col.s2: a(href='#beach-map') Beach
                    li.tab.col.s2: a(href='#noise-map') Noise
                    li.tab.col.s2: a(href='#bus-map') Bus
                #map-container
                    img#base-map(src='/images/basemap.png' alt='Map')
                    img.overlay#rent-map(src='/images/rent.png' alt='Rent')
                    img.overlay#beach-map(src='/images/beach.png' alt='Beach')
                    img.overlay#noise-map(src='/images/noise.png' alt='Noise')
                    img.overlay#bus-map(src='/images/bus.png' alt='Bus')
