extends layout
block content
    .container
        .row
            .col.s12
                ul.tabs
                    li.tab.col.s1: a(href='#base-map') Basemap
                    li.tab.col.s1: a(href='#rent-map') Rent
                    li.tab.col.s1: a(href='#beach-map') Beach Proximity
                    li.tab.col.s1: a(href='#noise-map') Noise
                    li.tab.col.s1: a(href='#bus-map') Bus
                    li.tab.col.s1: a(href='#poi-map') Points of Interest
                    li.tab.col.s1: a(href='#about') About
                #map-container
                    img.animated.fadeIn.z-depth-2#base-map(src='/images/basemap.jpg' alt='Map')
                    .animated.fadeIn.overlay#rent-map
                        img.z-depth-2(src='/images/rent.jpg' alt='Rent')
                        .sub-container.z-depth-2.row
                            include rent
                    .animated.fadeIn.overlay#beach-map
                        img.z-depth-2(src='/images/beach.jpg' alt='Beach')
                        .sub-container.z-depth-2.row
                            p In miles.
                    img.animated.fadeIn.overlay.z-depth-2#noise-map(src='/images/noise.jpg' alt='Noise')
                    .animated.fadeIn.overlay#bus-map
                        img.animated.fadeIn.z-depth-2#base-map(src='/images/basemap.jpg' alt='Map')
                        img.overlay#fifteenx-map(src='/images/fifteenx.png' alt='Bus')
                        img.overlay#sixeleven-map(src='/images/sixeleven.png' alt='Bus')
                        img.overlay#twentyfourx-map(src='/images/twentyfourx.png' alt='Bus')
                        img.overlay#twentyseven-map(src='/images/twentyseven.png' alt='Bus')
                        .sub-container.z-depth-2.row
                            p.col.s3
                                input#fifteenx(type='checkbox' checked='checked')
                                label(for='fifteenx') 15x
                            p.col.s3
                                input#sixeleven(type='checkbox' checked='checked')
                                label(for='sixeleven') 6/11
                            p.col.s3
                                input#twentyfourx(type='checkbox' checked='checked')
                                label(for='twentyfourx') 24x
                            p.col.s3
                                input#twentyseven(type='checkbox' checked='checked')
                                label(for='twentyseven') 27
                    .animated.fadeIn.overlay#poi-map
                        img.z-depth-2(src='/images/poi.jpg' alt='POI')
                        .sub-container.z-depth-2.row
                            p Nightlife
                            p Grocery/Amenities

                        .sub-container.z-depth2.row
                            img(src='/images/nightlife.png' alt='table')
                    .animated.fadeIn.z-depth-2.overlay#about
                        p Created at University of California, Santa Barbara by
                        p Shirley Ng, Sean Prasertsit, Madeline Sayre, and Jessica Steele
                        p View source on <a href="http://github.com/sb-seanp/geog-project">Github</a>
                        p View project as <a href="../documents/game_of_homes.pdf">PDF</a>
                        p &copy; 2015 Wulfcode
