extends layout
block content
    .container
        .row
            .col.s12
                ul.tabs
                    li.tab.col.s2: a(href='#base-map') Basemap
                    li.tab.col.s2: a(href='#rent-map') Rent
                    li.tab.col.s2: a(href='#beach-map') Beach
                    li.tab.col.s2: a(href='#noise-map') Noise
                    li.tab.col.s2: a(href='#bus-map') Bus
                #map-container
                    img.animated.fadeIn.z-depth-2#base-map(src='/images/basemap.png' alt='Map')
                    img.animated.fadeIn.overlay.z-depth-2#rent-map(src='/images/rent.png' alt='Rent')
                    .animated.fadeIn.overlay#beach-map
                        img.z-depth-2(src='/images/beach.png' alt='Beach')
                        .sub-container.z-depth-2.row
                            p In miles.
                    img.animated.fadeIn.overlay.z-depth-2#noise-map(src='/images/noise.png' alt='Noise')
                    .animated.fadeIn.overlay#bus-map
                        img.animated.fadeIn.z-depth-2#base-map(src='/images/basemap.png' alt='Map')
                        img.overlay#fifteenx-map(src='/images/fifteenx.png' alt='Bus')
                        img.overlay#sixeleven-map(src='/images/sixeleven.png' alt='Bus')
                        img.overlay#twentyfourx-map(src='/images/twentyfourx.png' alt='Bus')
                        img.overlay#twentyseven-map(src='/images/twentyseven.png' alt='Bus')
                        .sub-container.z-depth-2.row
                            p.col.s3
                                input#fifteenx(type='checkbox' checked='checked')
                                label(for='fifteenx') 15x
                            p.col.s3
                                input#sixeleven(type='checkbox' checked='checked')
                                label(for='sixeleven') 6/11
                            p.col.s3
                                input#twentyfourx(type='checkbox' checked='checked')
                                label(for='twentyfourx') 24x
                            p.col.s3
                                input#twentyseven(type='checkbox' checked='checked')
                                label(for='twentyseven') 27
