doctype html
html
head
    title Housing
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
    block content
    script(type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/js/jquery.tablesorter.min.js')
    script(type='text/javascript' src='/javascripts/main.js')
