table.info-table.hoverable.striped.tablesorter#rent-table
    thead
        tr
            th Neighbourhood
            th Monthly Rent (USD)
    tbody
        tr
            td Los Carneros
            td 820
        tr
            td El Encanto Heights
            td 675
        tr
            td Lower Ellwood
            td 880
        tr
            td North of Camino Real
            td 750
        tr
            td South of Camino Real
            td 895
        tr
            td Mission Canyon
            td 1200
        tr
            td West Mesa
            td 1100
        tr
            td Campanil
            td 3900
        tr
            td East Mesa
            td 2600
        tr
            td Hope
            td 1360
        tr
            td San Roque
            td 950
        tr
            td Foothill
            td 830
        tr
            td Alta Mesa
            td 3710
        tr
            td Hidden Valley
            td 1000
        tr
            td Bel Air
            td 650
        tr
            td Eucalpytus Hill
            td 9100
        tr
            td Cielito
            td 7100
        tr
            td West Beach
            td 840
        tr
            td Lower State
            td 1170
        tr
            td Lower West
            td 1450
        tr
            td Westside
            td 940
        tr
            td West Downtown
            td 850
        tr
            td Downtown
            td 1450
        tr
            td Oak Park
            td 1040
        tr
            td Samarkand
            td 860
        tr
            td North State
            td 1920
        tr
            td Hitchcock
            td 3400
        tr
            td East San Roque
            td 3000
        tr
            td Upper East
            td 960
        tr
            td East Beach
            td 870
        tr
            td Lower East
            td 1020
        tr
            td Milpas
            td 1560
        tr
            td Laguna
            td 1430
        tr
            td Lower Riviera
            td 730
        tr
            td Eastside
            td 810
        tr
            td Riviera
            td 1170
        tr
            td Waterfront
            td 1600
