body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 100%;
}
#map-container {
  position: relative;
}
#map-container img {
  display: block;
  width: 100%;
}
#map-container .overlay {
  position: absolute;
  top: 0;
}
#map-container .transparent {
  opacity: 0.4;
}
#map-container #base-map {
  z-index: 20;
}
#map-container #rent-map {
  z-index: 10;
}
#map-container #beach-map {
  z-index: 10;
}
#map-container #noise-map {
  z-index: 10;
}
#map-container #bus-map {
  z-index: 10;
}
#poi-map p {
  margin-right: 20px;
  background-color: #000;
  color: #fff;
}
#poi-map p:first-of-type {
  background-color: #fe6be8;
}
.sub-container {
  width: 100%;
  background-color: #fff;
  margin-top: 12px;
  padding: 15px 20px;
}
.sub-container p {
  display: inline;
}
.container .sub-container {
  margin-left: inherit;
  margin-right: inherit;
}
