.container
  width 100%

#map-container
  position relative
  img
    display block
    width 100%
  .overlay
    position absolute
    top 0
  .transparent
    opacity 0.4
  #base-map
    z-index 20
  #rent-map
    z-index 10
  #beach-map
    z-index 10
  #noise-map
    z-index 10
  #bus-map
    z-index 10
