.container
  width 100%

#map-container
  position relative
  img
    display block
    width 100%
  .overlay
    position absolute
    top 0
    opacity 0.2
  #base-map
    z-index 20
  #rent-map
    z-index 10
