body
  background-image url('../images/background.png')
  background-size cover
  background-attachment fixed

.container
  width 100%

#map-container
  position relative
  img
    display block
    width 100%
  .overlay
    position absolute
    top 0
  .transparent
    opacity 0.4
  #base-map
    z-index 20
  #rent-map
    z-index 10
  #beach-map
    z-index 10
  #noise-map
    z-index 10
  #bus-map
    z-index 10

#poi-map p
  margin-right 20px
  background-color black
  color white
  &:first-of-type
    background-color #FE6BE8

.sub-container
  width 100%
  background-color white
  margin-top 12px
  padding 15px 20px
  p
    display inline
.container .sub-container
  margin-left inherit
  margin-right inherit
